#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}

#pagination-controls button {
    background: none;
    border: none;
    cursor: pointer;
}

#pagination-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
